<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Busqueda de libros</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<div class="container" >
    <body>
        <header>
        <div id ="logo"></div>
        <ul class ="nav_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="insertar.html">Insertar libros</a></li>
            <li><a href="buscar.html">Buscar libros</a></li>
        </ul>
        <div class="clear"></div>
        </header>
        <div id="BusquedaLibro">
            <p>Busqueda por titulo del libro</p><input type="text" name="Titulo"/>
            <br>
            <p>Busqueda por autor del libro</p><input type="text" name="Autor"/>      
            <br>
            <input type="submit" name="Buscar"/>
        </div>

    </body>
</div>
</html>